<div class="container mx-auto p-4">
  <%= form_with(model: project) do |form| %>
    <%= render partial: 'shared/error_alert', locals: { resource: project } %>

    <div class="form-control">
      <%= form.label :name, class: 'label label-text' %>
      <%= form.text_field :name, class: 'input input-sm input-bordered' %>
    </div>

    <div class="form-control">
      <%= form.label :description, class: 'label label-text' %>
      <%= form.text_area :description, class: 'input input-sm input-bordered' %>
    </div>

    <div class="mt-3">
      <%= form.submit nil, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
