<%= render "devise/shared/background_image" do %>
  <h2 class="text-lg">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-control">
      <%= f.label :email, class: "label label-text" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-sm input-bordered" %>
    </div>

    <div class="form-control">
      <%= f.label :password, class: "label label-text" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "input input-sm input-bordered" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-control">
        <label class="cursor-pointer label">
          <span class="label-text">Remember me</span>
          <%= f.check_box :remember_me, class: "checkbox" %>
        </label>
      </div>
    <% end %>

    <div class="mt-3">
      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>
