= render "devise/shared/background_image" do
  %h2.text-lg Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-control
      = f.label :email, class: "label label-text"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-sm input-bordered"
    .form-control
      = f.label :password, class: "label label-text"
      %br/
      = f.password_field :password, autocomplete: "current-password", class: "input input-sm input-bordered"
    - if devise_mapping.rememberable?
      .form-control
        %label.cursor-pointer.label
          %span.label-text Remember me
          = f.check_box :remember_me, class: "checkbox"
    .mt-3
      = f.submit "Log in", class: "btn btn-primary btn-block"
  = render "devise/shared/links"
