<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTasks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="absolute top-3 right-3">
      <% flash.each do |type, msg| %>
        <% title = type == 'alert' ? 'An error occur!' : 'Notify!' %>
        <%= render partial: 'shared/notification_message', locals: { type: type, title: title, message: msg } %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
